<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044293794222-cshmdmu63b262q14im1h4pbb61ds05rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044293794222-cshmdmu63b262q14im1h4pbb61ds05rt</string>
	<key>API_KEY</key>
	<string>AIzaSyCZsJtc0TUjwHLWVEDB8a0VbqMV7WlthXA</string>
	<key>GCM_SENDER_ID</key>
	<string>1044293794222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proCourseApp</string>
	<key>PROJECT_ID</key>
	<string>pro-courseapp-023</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-courseapp-023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044293794222:ios:0d4d3fb3c29c3f9f55703f</string>
</dict>
</plist>